<!DOCTYPE html>
<html>
  <head>
    <title>PlanetsDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Planets of the Sooolar System</h1>
    <nav>
       <%= link_to 'Planet Index', planets_path %>
       |
       <%= link_to 'Create Planet', planets_new_path %>
    </nav>
    <hr/>
    <%= yield %>
  </body>
</html>
