
<h2><%= @work.title %>, <%= @work.year.year %></h2>

<strong><%= link_to @work.artist.name, artist_path(@work.artist.id) %></strong> 

<p>Medium: <%= @work.medium %></p>
<p>Style: <%= @work.style %></p>

<%= image_tag @work.image, alt: @work.title, class: 'artworkImage' %>
